# Ignore Git files and folders
.git
.gitignore
.gitattributes

# Ignore IDE/editor files
.idea
.vscode

# Ignore virtual environments
venv/
.env

# Ignore CI/CD configs (kalau gak perlu masuk image)
.travis.yml
.gitlab-ci.yml
.readthedocs.yml
.pre-commit-config.yaml

# Ignore Python cache files
__pycache__/
*.py[cod]
*.log
venv/
.env
.idea/
.git
tests/
docs/
*.pdf

# Ignore other unwanted files/folders
tests/
docs/
