{% extends 'adminku/base.html' %}

{% block title %}Manage Chatbot Answers{% endblock %}

{% block header %}
<h1>Kelola Jawaban Chatbot</h1>

{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styleadmin.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>

    table.crud-table td:nth-child(1),
    table.crud-table th:nth-child(1) {
        max-width: 10px;
        word-wrap: break-word;
        white-space: normal;
    }

    table.crud-table td:nth-child(2),
    table.crud-table th:nth-child(2) {
        max-width: 70px;
        word-wrap: break-word;
        white-space: normal;
    }
    table.crud-table td:nth-child(3),
    table.crud-table th:nth-child(3) {
        max-width: 300px;
        word-wrap: break-word;
        white-space: normal;
    }
    table.crud-table td:nth-child(4),
    table.crud-table th:nth-child(4) {
        max-width: 60px; 
        word-wrap: break-word;
        white-space: normal;
    }
    table.crud-table td:nth-child(5),
    table.crud-table th:nth-child(5) {
        max-width: 50px; 
        word-wrap: break-word;
        white-space: normal;
    }
    table.crud-table td:nth-child(6),
    table.crud-table th:nth-child(6) {
        max-width: 30px; 
        word-wrap: break-word;
        white-space: normal;
    }

</style>

<section class="crud-section">
    <div class="crud-header">
        <h2>Histori Interaksi</h2>
    </div>

    <table class="crud-table">
        <thead>
            <tr>
                <th>No</th>
                <th>User Input</th>
                <th>Bot Response</th>
                <th>User ID</th>
                <th>Created At</th>
                <th>Aksi</th>
            </tr>
            <tr>
                <th></th>
                <th><input type="text" class="form-control filter-input" data-column="0" placeholder="Cari User Input"></th>
                <th><input type="text" class="form-control filter-input" data-column="1" placeholder="Cari Bot Response"></th>
                <th><input type="text" class="form-control filter-input" data-column="2" placeholder="Cari UserId"></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="answerTableBody">
            
        </tbody>
    </table>

    <nav class="d-flex justify-content-between align-items-center mt-3">
        <div class="form-inline">
            <label for="dataPerPageSelect" class="mr-2">Tampilkan:</label>
            <select id="dataPerPageSelect" class="form-control" onchange="ubahdataPerPage()">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
            <span class="ml-2"></span>
        </div>
        <ul class="pagination mb-0" id="pagination"></ul>
    </nav>
    
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/pagination1.js' %}"></script> 


<script>

    $(document).ready(function () {
        fetchChatHistory();

    });

    function fetchChatHistory() {
        $.ajax({
            url: '{% url "chat-history" %}',
            type: 'GET',
            data: { all: true },
            success: function(response) {
                allData = response.chatbot_histori;
                renderTable();
            },
            error: function(xhr) {
                alert('Error fetching data: ' + xhr.responseText);
            }
        });
    }

    function getFilteredData() {
        const filters = $(".filter-input").map(function () {
            return $(this).val().toLowerCase();
        }).get();

        return allData.filter(item =>
            (!filters[0] || item.user_input.toLowerCase().includes(filters[0])) &&
            (!filters[1] || item.message.toLowerCase().includes(filters[1])) &&
            (!filters[2] || item.user.toString().includes(filters[2]))
        );
    }

    function renderTable() {
        const filteredData = getFilteredData();
        const startIndex = (halamanAktif - 1) * dataPerPage;
        const paginatedData = filteredData.slice(startIndex, startIndex + dataPerPage);

        const answerTableBody = $('#answerTableBody');
        answerTableBody.empty();

        if (paginatedData.length > 0) {
            paginatedData.forEach((chat, index) => {
                answerTableBody.append(`
                    <tr>
                        <td>${startIndex + index + 1}</td> 
                        <td>${chat.user_input}</td>
                        <td>${chat.message}</td>
                        <td>${chat.user}</td>
                        <td>${chat.created_at}</td>
                        <td>
                        <button onclick="deleteChat(${chat.chat_id})" class="btn btn-sm btn-danger mx-1" title="Delete">
                            <i class="fa fa-trash"></i>
                        </td>
                    </tr>
                `);
            });
        } else {
            answerTableBody.append('<tr><td colspan="6">Tidak ada data.</td></tr>');
        }

       renderPagination(filteredData.length, renderTable);
    }


    function deleteChat(chat_id) {
        if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
            $.ajax({
                url: `/delete-chat/${chat_id}/`,  
                type: 'DELETE',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken') 
                },
                success: function(response) {
                    alert(response.message); 
                    fetchChatHistory(); 
                },
                error: function(xhr) {
                    alert('Error deleting data: ' + xhr.responseText);
                }
            });
        }
    }

    // Fungsi untuk mendapatkan CSRF token dari cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
    


{% endblock %}
